<h1> Bookmark Manager </h1>

<form action='/bookmarks' method='GET'>
    <input type='submit' value='See Bookmarks'>
</form>

<form action='/add_bookmark' method='GET'>
    <input type='submit' value='Add New'>
</form>